<div class="flex center-y">
    <article class="card">
        <img class="card-img-top" src="../../assets/stella-cartoon.jpg" alt="Stella's Profile Picture">
        <article class="card-body">
            <h5 class="card-title">Stella Lau</h5>
            <p class="card-text">Pronouns: <a href="https://pronouns.org/she-her" target="_blank">she/her/hers</a></p>
            <p class="card-text">Email: ytlau1 [at] uci.edu</p>
            <ul class="flex">
                <li>
                    <a role="button" href="https://www.linkedin.com/in/stella-lau/" target="_blank"><i class="bi bi-linkedin" role="img" aria-label="Stella's Linkedin Page"></i></a>
                </li>
                <li>
                    <a role="button" href="https://github.com/Stellau" target="_blank"><i class="bi bi-github" role="img" aria-label="Stella's GitHub Page"></i></a>
                </li>
                <li>
                    <a role="button" href="" target="_blank"><i class="bi bi-file-person" role="img" aria-label="Stella's Resume"></i></a>
                </li>
            </ul>
        </article>
    </article>
    <article id="introduction">
        <p>
            I am a master's student at the department of computer science at UC Irvine.
            I am advised by Prof. Gillian Hayes and Dr. Mark Baldwin. My research interest lies in the field of
            Human-Computer Interaction (HCI), more specifically accessibility and assistive technology.
        </p>
        <p>
            I earned my Bachelor of Science degree in Electrical Engineering with concentration in Embedded Computing Systems
            from the University of Washington, Seattle.
        </p>
        <p>
            I hope you will get to know more about me after browsing through this website!
        </p>
    </article>
</div>