div.flex {
    justify-content: space-evenly;
}

article.card-body {
    text-align: center;
}

article.card {
    width: 60vw;
    margin: 2rem;
}

#introduction > p {
    width: 90vw;
}

p.card-title {
    font-size: large;
}

@media (min-height: 750px) { 
    div.flex {
        margin: 0;
        align-content: space-evenly;
    }
    #introduction {
        margin-left: 1.5rem;
        margin-right: 1rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    article.card {
        width: 40vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    article.card {
        width: 50vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    article.card {
        width: 20vw;
    }
    #introduction > p {
        width: 60vw;
        font-size: large;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}