<div class="flex main-container">
    <h1 class="hidden">Experience and Education</h1>
    <section>
        <h2>Work & Leadership</h2>
        <article class="flex">
            <div>
                <h3>Software Engineer Intern</h3>
                <p class="sub">UCI Student Center & Event Services</p>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">Web Development</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">iOS Development</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">UX Design</span></li>
                </ul>
            </div>
            <p>07/22-Current</p>
        </article>
        <article class="flex">
            <div>
                <h3>Graduate Research Assistant</h3>
                <p class="sub">STAR Lab, UCI</p>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">Accessibility</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Data Analysis</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Arduino</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Crowdsourcing</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">3D Printing</span></li>
                </ul>
            </div>
            <p>09/21-Current</p>
        </article>
        <article class="flex">
            <div>
                <h3>Disability Inclusion Chair</h3>
                <p class="sub">Associated Graduate Students</p>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">Accessibility</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Event Organization</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Advocacy & Promotion</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Influence & Motivation</span></li>
                </ul>
            </div>
            <p>2021-2022 School Year</p>
        </article>
        <article class="flex">
            <div>
                <h3>Undergraduate Research Assistant</h3>
                <p class="sub">University of Washington, Seattle</p>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">Web Development</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Accessibility</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Data Analysis</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Arduino</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">3D Printing</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Java</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Android Development</span></li>
                </ul>
            </div>
            <p>10/19-01/20 06/20-06/21</p>
        </article>
    </section>
    <hr>
    <section>
        <h2>Teaching</h2>
        <article class="flex">
            <div>
                <h3>Teaching Assistant</h3>
                <p>User Interaction Software</p>
                <p class="sub">University of California, Irvine</p>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">HTML</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">CSS</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">JavaScript</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">TypeScript</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Angular</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Accessibility</span></li>
                </ul>
            </div>
            <p>09/22-Current</p>
        </article>
        <article class="flex">
            <div>
                <h3>Computer Science Volunteer Teacher</h3>
                <p class="sub">TEALS Program, Microsoft</p>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">Python</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Computer Science Fundamentals</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Problem Solving</span></li>
                </ul>
            </div>
            <p>06/21-06/22</p>
        </article>
        <article class="flex">
            <div>
                <h3>Grader</h3>
                <p>Internet Application Engineering</p>
                <p class="sub">University of California, Irvine</p>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">HTML</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">CSS</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">JavaScript</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">JQuery</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">MYSQL</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Java</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Java Servlets</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">JDBC</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">REST API</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Node.js</span></li>
                </ul>
            </div>
            <p>03/22-06/22</p>
        </article>
        <article class="flex">
            <div>
                <h3>STEM Tutor</h3>
                <p class="sub">Seattle Central College</p>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">Math</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Physics</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Chemistry</span></li>
                </ul>
            </div>
            <p>06/18-08/18</p>
        </article>
        <article class="flex">
            <div>
                <h3>Grader</h3>
                <p class="sub">Seattle Central College</p>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">Math</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Chemistry</span></li>
                </ul>
            </div>
            <p>09/17-08/18</p>
        </article>
    </section>
    <hr>
    <section>
        <h2>Education</h2>
        <article class="flex">
            <div>
                <h3>University of California, Irvine</h3>
                <p class="sub">Master of Science - Computer Science (Expected 06/23)</p>
                <p>GPA: 3.9/4.0</p>
            </div>
            <p>2021-2023</p>
        </article>
        <article class="flex">
            <div>
                <h3>University of Washington, Seattle</h3>
                <p class="sub">Bachelor of Science - Electrical Engineering (Embedded Systems)</p>
                <p>
                    Major GPA: 3.89/4.0
                    <br>
                    Cumulative GPA: 3.82/4.0 (Cum Laude)
                </p>
            </div>
            <p>2018-2020</p>
        </article>
    </section>
</div>