<div class="flex main-container">
    <h1 class="hidden">Projects</h1>
    <section>
        <h2>Web Development</h2>
        <article class="flex">
            <div>
                <h3>Stella's Personal Page
                    <a role="button" href="https://github.com/Stellau/stella-personal-page" target="_blank"><i class="bi bi-github" role="img" aria-label="Stella's Personal Page GitHub"></i></a>
                </h3>
                <p class="sub">(this website)</p>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">HTML</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">CSS</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">TypeScript</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Angular</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Responsive Web Design</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">AWS</span></li>
                </ul>
                <p>
                    Built this project to share about myself, my projects, recent updates after
                    teaching myself Angular. I also deployed this project with AWS Amplify and
                    made sure that this page is accessible and looks good on a variety of devices.
                    I will show this website to my students of User Interaction Software as a demo.
                </p>
            </div>
        </article>
        <article class="flex">
            <div>
                <h3>Stellar Amateur</h3>
                <p class="sub">In Progress ...</p>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">HTML</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">CSS</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">TypeScript</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Angular</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Node.js</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">MYSQL</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">AWS</span></li>
                </ul>
                <p>
                    Creating a full-stack webpage to share my hobbies and recipes. Building the
                    front-end with Angular and hosting it with AWS Amplify. Building the backend
                    with Node.js and hosting it with AWS Elastic Beanstalk. Building a database
                    with MYSQL on AWS Aurora to store my recipes.
                </p>
            </div>
        </article>
        <article class="flex">
            <div>
                <h3>Full-stack E-Commerce Store Website
                    <a role="button" href="https://github.com/Stellau/final-project-stellau" target="_blank"><i class="bi bi-github" role="img" aria-label="Stella's Personal Page GitHub"></i></a>
                </h3>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">HTML</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">CSS</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">JavaScript</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">MYSQL</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Node.js</span></li>
                </ul>
                <p>
                    This was my first full-stack project and my final project for my web programming
                    class. It was an E-Commerce store website that allowed users to buy products
                    after logging in. The products were loaded into the MYSQL database from a CSV file. The cart was built with local storage and the log-in session was implemented with a cookie.
                </p>
            </div>
        </article>
    </section>
    <section>
        <h2>Embedded Systems & Internet of Things & Other Programs</h2>
        <article class="flex">
            <div>
                <h3>SmartCrib
                    <a role="button" href="https://courses.cs.washington.edu/courses/cse475/20au/project/#/overview" target="_blank"><i class="bi bi-link-45deg" role="img" aria-label="SmartCrib Home Page"></i></a>
                </h3>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">Arduino</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">IoT</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Analog and Digital Sensors</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">HTML</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">SCSS</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Bootstrap</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">React.js</span></li>
                </ul>
                <p>
                    SmartCrib is my senior capstone project. It is a prototype of a baby monitor that is more
                    comprehensive, informative, accessible, and secure. I built this project’s concept design
                    and website, organized the report, led the technical development of communication between
                    the microcontroller and the Internet, and helped with breathing rate and pulse extraction.
                </p>
            </div>
            <div>
                <h3>Color Detector
                    <a role="button" href="https://github.com/Stellau/ColorDetector" target="_blank"><i class="bi bi-github" role="img" aria-label="Color Detector's GitHub"></i></a>
                </h3>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">SystemVerilog</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Verilog</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">ModelSim</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">GPIO</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Terasic Digital Camera</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Bootstrap</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">DE1_SoC</span></li>
                </ul>
                <p>
                    Implemented this color detector by collecting data using a Terasic digital
                    camera with GPIO interface connected to a DE1_SoC board, processing the data
                    by averaging and analyzing the RGB elements, and displaying the result on a
                    7-segment display.
                </p>
            </div>
            <div>
                <h3>Java Recursive Drawing Program
                    <a role="button" href="https://github.com/Stellau/RecursiveDrawing" target="_blank"><i class="bi bi-github" role="img" aria-label="Recursive Drawing Programs's GitHub"></i></a>
                </h3>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">Java</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Trigonometry</span></li>
                </ul>
                <p>
                    Employed my knowledge of trigonometry, math, recursive and analytical thinking
                    to create this project on Eclipse IDE. This project taught me how to use
                    different drawing components in Java and understand recursion better.
                </p>
            </div>
        </article>
    </section>
</div>
