<div class="flex main-container">
    <h1 class="hidden">Projects</h1>
    <section>
        <h2>Web Development</h2>
        <article class="flex">
            <div>
                <h3>Stella's Personal Page
                    <a role="button" href="https://github.com/Stellau/stella-personal-page" target="_blank"><i class="bi bi-github" role="img" aria-label="Stella's Personal Page GitHub"></i></a>
                </h3>
                <p class="sub">(this website)</p>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">HTML</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">CSS</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">TypeScript</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Angular</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Responsive Web Design</span></li>
                </ul>
                <p>
                    My personal page where I share about myself, my projects, recent updates, and things I like.
                    I built this project after teaching myself Angular and deployed it to AWS S3. I also made sure
                    that this page is accessible and looks good on a variety of devices.
                </p>
            </div>
        </article>
        <article class="flex">
            <div>
                <h3>Stellar Amateur</h3>
                <p class="sub">In Progress ...</p>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">HTML</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">CSS</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">TypeScript</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Angular</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Node.js</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">MYSQL</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">AWS</span></li>
                </ul>
                <p>
                    My personal blog where I share my recipes, embroidery, sewing, and other craft projects,
                    and my other newfound hobbies. This website will be deployed with AWS Amplify.
                </p>
            </div>
        </article>
    </section>
    <section>
        <h2>Embedded Systems & Internet of Things</h2>
        <article class="flex">
            <div>
                <h3>SmartCrib
                    <a role="button" href="https://courses.cs.washington.edu/courses/cse475/20au/project/#/overview" target="_blank"><i class="bi bi-link-45deg" role="img" aria-label="SmartCrib Home Page"></i></a>
                </h3>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">Arduino</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">IoT</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Analog and Digital Sensors</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">HTML</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">SCSS</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Bootstrap</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">React.js</span></li>
                </ul>
                <p>
                    SmartCrib is my senior capstone project. It is a prototype of a baby monitor that is more
                    comprehensive, informative, accessible, and secure. I built this project’s concept design
                    and website, organized the report, led the technical development of communication between
                    the microcontroller and the Internet, and helped with breathing rate and pulse extraction.
                </p>
            </div>
            <div>
                <h3>Color Detector
                    <a role="button" href="https://github.com/Stellau/ColorDetector" target="_blank"><i class="bi bi-github" role="img" aria-label="Color Detector's GitHub"></i></a>
                </h3>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">SystemVerilog</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Verilog</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">ModelSim</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">GPIO</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Terasic Digital Camera</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Bootstrap</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">DE1_SoC</span></li>
                </ul>
                <p>
                    I implemented this color detector by collecting data using a Terasic digital camera with GPIO interface
                    connected to a DE1_SoC board, processing the data by averaging and analyzing the RGB elements, and
                    displaying the result on a 7-segment display.
                </p>
            </div>
            <div>
                <h3>Recursive Drawing
                    <a role="button" href="https://github.com/Stellau/RecursiveDrawing" target="_blank"><i class="bi bi-github" role="img" aria-label="Recursive Drawing Programs's GitHub"></i></a>
                </h3>
                <ul class="flex" aria-label="skills">
                    <li><span class="badge rounded-pill text-bg-secondary">Java</span></li>
                    <li><span class="badge rounded-pill text-bg-secondary">Trigonometry</span></li>
                </ul>
                <p>
                    I implemented these two interactive drawing programs with Java’s awt and swing libraries in my
                    second programming class.
                </p>
            </div>
        </article>
    </section>
</div>
