div.img-container {
    justify-content:space-evenly;
    flex-wrap:wrap;
}

h2 {
    text-align:center;
    font-size:0.8em;
}

article.card {
    height: fit-content;
    max-width:80vw;
    margin:1rem;
}

img {
    max-height:80vw;
    max-width:80vw;
    width:auto;
    height:auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    article.card {
        max-width: 30vw;
    }
    img {
        max-width: 30vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    article.card {
        max-width: 60vw;
    }
    img {
        max-width: 60vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    h2 {
        font-size: 1.2em;
    }
    article.card {
        max-width: 30vw;
    }
    img {
        max-width: 30vw;
    }
}