<div class="flex main-container">
    <h1>Recent Cross-Stitch Projects</h1>
    <div class="flex img-container center-y">
        <article class="card">
            <img class="card-img-top" src="../../assets/cross-stitch/prince.jpg"
            alt="The little prince with the fox and the rose on Asteroid B-612 in a blue, purple, and pink gradient background with yellow stars on it.">
            <div class="card-body">
                <h2 class="card-title">
                    Le Petit Prince 
                    <br>
                    (The Little Prince)</h2>
            </div>
        </article>
        <article class="card">
            <img class="card-img-top" src="../../assets/cross-stitch/pusheen.jpg"
            alt="A smiling pusheen laying on top of a burger with a bite bitten off.">
            <div class="card-body">
                <h2 class="card-title">Pusheens on a Burger</h2>
            </div>
        </article>
        <article class="card">
            <img class="card-img-top" src="../../assets/cross-stitch/pusheen2.jpg"
            alt="Two pieces of cross-stitch art in a white circular frames with stuffed animals in the background. PUsheen is standing next to the words 'Just being me' in the piece on the left and licking her right paw in the piece on the right next to the words 'Self Care'.">
            <div class="card-body">
                <h2 class="card-title">Self-Care Pusheens</h2>
            </div>
        </article>
    </div>
</div>
