<div class="flex main-container">
    <h1>Grace Hopper Celebration 2022 Scholar</h1>
    <figure>
        <img src="../../assets/ghc22.png" alt="GHC 22 banner with GHC 22's slogan: Next is Now!">
        <figcaption>© 2022 <a href="https://anitab.org/" target="_blank">AnitaB.org</a></figcaption>
    </figure>
    <section>
        <p>
            I am proud to be a Scholar at Grace Hopper Celebration 2022 (GHC 22) hosted by <a href="https://anitab.org/" target="_blank">AnitaB.org</a> !
            Learn more about the world’s largest gathering of women and non-binary technologists
            at <a href="https://ghc.anitab.org/" target="_blank">Grace Hopper Conference's official website</a>.
            <span>#GHC22 #NextIsNow #WomenInTech</span>.
        </p>
        <p>
            Many thanks to my advisor, Prof. Gillian Hayes's sponsorship, I will also be attending GHC 22 in-person
            in Orlando, Florida from <time datetime="2022-09-20">September 20th</time> to <time datetime="2022-09-23">September 23rd</time>.
            I am expected to graduate in <time datetime="2023-06">June 2023</time>. I am also open to full-time software engineer opportunities
            with start dates after my graduation month. Looking forward to meeting all sponsors and attendees at GHC 22!
        </p>
    </section>
    <section>
        <h2>AnitaB.org Social Media</h2>
        <ul class="flex">
            <li>
                <a role="button" href="https://www.linkedin.com/company/anitab-org/" target="_blank"><i class="bi bi-linkedin" role="img" aria-label="AnitaB.org's Linkedin Page"></i></a>
            </li>
            <li>
                <a role="button" href="https://www.facebook.com/AnitaB.0rg/" target="_blank"><i class="bi bi-facebook" role="img" aria-label="AnitaB.org's Facebook Page"></i></a>
            </li>
            <li>
                <a role="button" href="https://www.instagram.com/anitab_org/" target="_blank"><i class="bi bi-instagram" role="img" aria-label="AnitaB.org's Instagram Page"></i></a>
            </li>
            <li>
                <a role="button" href="https://twitter.com/anitab_org" target="_blank"><i class="bi bi-twitter" role="img" aria-label="AnitaB.org's Twitter Page"></i></a>
            </li>
        </ul>
    </section>
</div>
