img {
    width: 85vw;
}   

h1, img, section {
    margin: 1rem;
}

figcaption {
    text-align: center;
}

/* Tall phones */
@media (min-height: 750px) { 
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    img {
        width: 90vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    img {
        width: 92vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    img {
        width: 94vw;
    }   
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}