<div class="flex main-container">
    <h1>Recent Home Cooking and Baking</h1>
    <div class="flex img-container">
        <article class="card">
            <img class="card-img-top" src="../../assets/food/ratatouille.jpg"
            alt="Ratatouille with caviar">
            <div class="card-body">
                <h2 class="card-title">Ratatouille (Confit Byaldi) with Caviar</h2>
            </div>
        </article>
        <article class="card">
            <img class="card-img-top" src="../../assets/food/fillet.jpg"
            alt="Filet Mignon with carrot juice foam and purple cauliflower purée">
            <div class="card-body">
                <h2 class="card-title">Filet Mignon with Carrot Foam and Califlower Purée</h2>
            </div>
        </article>
        <article class="card">
            <img class="card-img-top" src="../../assets/food/calcifer.jpg"
            alt="Recreation of the breakfast from the movie, Howl's Moving Castle: 2 sunny-side up eggs, a fruit salad with some microgreens, some red and orange cherry tomatoes, 2 slices of bacon, and a pancake with the character, Calcifer, on it.">
            <div class="card-body">
                <h2 class="card-title">Howl's Moving Castle Themed Breakfast</h2>
            </div>
        </article>
        <article class="card">
            <img class="card-img-top" src="../../assets/food/croissant.jpg"
            alt="Homemade croissant with light honey glaze">
            <div class="card-body">
                <h2 class="card-title">Croissant with Light Honey Glaze</h2>
            </div>
        </article>
        <article class="card">
            <img class="card-img-top" src="../../assets/food/brown-bread.jpg" alt="Two pieces of dark rye bread with oats sprinkled on top.">
            <div class="card-body">
                <h2 class="card-title">Dark Rye Bread</h2>
            </div>
        </article>
        <article class="card">
            <img class="card-img-top" src="../../assets/food/carnival.jpg"
            alt="Roasted arnival squash cut into thick rings with green pea purée in the middle and caviar and edible gold foil on top, sliced radish on the side as garnish.">
            <div class="card-body">
                <h2 class="card-title">Carnival Squash with Green Pea Purée and Caviar</h2>
            </div>
        </article>
        <article class="card">
            <img class="card-img-top" src="../../assets/food/lobster-bisque.jpg"
            alt="Purple cauliflower lobster bisque">
            <div class="card-body">
                <h2 class="card-title">Purple Cauliflower Lobster Bisque</h2>
            </div>
        </article>
        <article class="card">
            <img class="card-img-top" src="../../assets/food/sesame.jpg"
            alt="Blank and white sesame swirl shokupan (Japanese bread).">
            <div class="card-body">
                <h2 class="card-title">Black and White Sesame Shokupan</h2>
            </div>
        </article>
        <article class="card">
            <img class="card-img-top" src="../../assets/food/tart.jpg"
            alt="Fruit tarts with sliced strawberries, blueberries, and halved rainier cherries.">
            <div class="card-body">
                <h2 class="card-title">Fruit Tarts with Pitaya Creamcheese Custard Cream</h2>
            </div>
        </article>
        <article class="card long">
            <img class="card-img-top long" src="../../assets/food/cake.jpg" alt="A chocolate cake with shaved chocolate and a chocolate wafer bar on top with a slice cut out revealing its kiwi cream filling.">
            <div class="card-body">
                <h2 class="card-title">Chocolate Cake with Kiwi Filling</h2>
            </div>
        </article>
        <article class="card long">
            <img class="card-img-top long" src="../../assets/food/focaccia.jpg"
            alt="Proofted focaccia with a variety of sliced vegetables and fresh spice  placed">
            <div class="card-body">
                <h2 class="card-title">Proofed Focaccia</h2>
            </div>
        </article>
    </div>
</div>
