<div class="main-container">
    <h1 class="hidden">Favorite Music and Movies</h1>
    <section>
        <h2>Favorite Music Genres</h2>
        <ul>
            <li>Jazz</li>
            <li>Samba</li>
            <li>Classical (oriental and western)</li>
        </ul>
    </section>
    <section>
        <h2>Favorite Musicians</h2>
        <ul>
            <li>Joe Hisaishi</li>
            <li>Ryuichi Sakamoto</li>
            <li>Ella Fitzgerald</li>
            <li>Louis Armstrong</li>
            <li>Antônio Carlos Jobim</li>
            <li>Frédéric Chopin</li>
            <li>Franz Liszt</li>
            <li>John Williams</li>
            <li>Yo-Yo Ma</li>
            <li>Lin-Manuel Miranda</li>
        </ul>
    </section>
    <section>
        <h2>Recent Top Albums/Playlists</h2>
        <ul>
            <li>Studio Ghibli Jazz & Bossa</li>
            <li>Bach: Unaccompanied Cello Suites</li>
            <li>John Williams: A Gathering of Friends</li>
            <li>Disney Goes Classical</li>
        </ul>
    </section>
    <section>
        <h2>Favorite Movies</h2>
        <ul>
            <li>Howl's Moving Castle</li>
            <li>Spirited Away</li>
            <li>Kiki's Delivery Service</li>
            <li>Toy Story</li>
            <li>Enchanted</li>
            <li>Anastasia</li>
            <li>Tangled</li>
        </ul>
    </section>
</div>
