/* You can add global styles to this file, and also import other style files */
/* .bg-stella {
    background-color: #7f6aaf;
} */

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.bg-stella {
    background: linear-gradient(225deg, #1d0f81 0%, #6a28bc 100%);
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.center-x {
    justify-content: center;
}

.center-y {
    align-items: center;
}

.main-container {
    flex-wrap: wrap;
    min-height: 90vh;
    margin: 1rem;
    margin-top: 2rem;
}

div.flex, i {
    color: #1d0e81;
}

body {
    background: #f8f4fc;
    font-family: 'Open Sans', sans-serif;
}

h2, h3, ul.dropdown-menu.show a, .card-title, .sub {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}