<div class="flex main-container">
    <h1>Favorite Websites</h1>
    <section>
        <h2>For Work</h2>
        <div class="img-container flex">
            <figure>
                <a href="https://developer.mozilla.org/en-US/" target="_blank">
                    <img src="../../assets/logos/mdn.png" alt="MDN Logo">
                </a>
                <figcaption>MDN</figcaption>
            </figure>
            <figure>
                <a href="https://www.figma.com/" target="_blank">
                    <img src="../../assets/logos/figma.png" alt="Figma Logo">
                </a>
                <figcaption>Figma</figcaption>
            </figure>
            <figure>
                <a href="https://www.canva.com/" target="_blank">
                    <img src="../../assets/logos/canva.png" alt="Canva Logo">
                </a>
                <figcaption>Canva</figcaption>
            </figure>
        </div>
    </section>
    <section>
        <h2>For Fun</h2>
        <div class="img-container flex">
            <figure>
                <a href="https://xkcd.com/" target="_blank">
                    <img src="../../assets/logos/xkcd.jpg" alt="XKCD Logo">
                </a>
                <figcaption>XKCD</figcaption>
            </figure>
            <figure>
                <a href="https://regexcrossword.com/" target="_blank">
                    <img src="../../assets/logos/regex-crossword.svg" alt="Regex Crossword Logo">
                </a>
                <figcaption>Regex Crossword</figcaption>
            </figure>
            <figure>
                <a href="https://www.alltrails.com/" target="_blank">
                    <img src="../../assets/logos/alltrails.png" alt="AllTrails Logo">
                </a>
                <figcaption>AllTrails</figcaption>
            </figure>
        </div>
    </section>
    <section>
        <h2>For Cooking</h2>
        <div class="img-container flex">
            <figure>
                <a href="https://cooking.nytimes.com/" target="_blank">
                    <img src="../../assets/logos/nyt-cooking.png" alt="NYT Cooking Logo">
                </a>
                <figcaption>NYT Cooking</figcaption>
            </figure>
            <figure>
                <a href="https://www.allrecipes.com/" target="_blank">
                    <img src="../../assets/logos/allrecipes.png" alt="Allrecipes Logo">
                </a>
                <figcaption>Allrecipes</figcaption>
            </figure>
        </div>
    </section>
    <section>
        <h2>For Cross-Stitching</h2>
        <div class="img-container flex">
            <figure>
                <a href="https://www.pixel-stitch.net/" target="_blank">
                    <img src="../../assets/logos/pixel-stitch.png" alt="Pixel-Stitch Logo">
                </a>
                <figcaption>Pixel-Stitch</figcaption>
            </figure>
            <figure>
                <a role="button" href="https://threadcolors.com/" target="_blank">
                    <i class="bi bi-link-45deg" role="img" aria-label="Thread Colors"></i>
                </a>
                <figcaption>Thread Colors</figcaption>
            </figure>
        </div>
    </section>
</div>
